.btn {
    background-color: rgb(13, 218, 214);
    border: 4px solid rgb(234, 236, 247);;
    border-radius: 50%;
    font-size: 100px;
    font-weight: bold;color: aliceblue;
    width: 120px;
    height: 120px;
    cursor: pointer;
    position: fixed;
    inset-block-end: 20px;
    z-index: 2;
    box-shadow: rgba(237, 226, 226, 0.56) 0px 22px 70px 4px;
    text-align: center;
}
.btn-exit {
    transform: rotate(45deg);
    background-color: red;
}