.input {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 4px 10px 4px 10px;
    width: 200px;
    outline: purple ;
    text-align: center;
    margin: 20px;


}
.input:focus {
    border-radius: 10px;
    border: 1px solid rgb(169, 0, 0);
    padding: 4px 10px 4px 10px;
    width: 200px;
}